name: "Build"
on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

jobs:
    build:
        name: "build and test"
        runs-on: "ubuntu-latest"

        steps:
            -   name: "Checkout"
                uses: "actions/checkout@v6"
            -   name: "Setup Python"
                uses: "actions/setup-python@v6"
                with:
                    python-version-file: "pyproject.toml"
            -   name: "Install uv"
                uses: "astral-sh/setup-uv@v7"
                with:
                    enable-cache: true
                    version: "0.10.4"
            -   name: "uv sync"
                run: "uv sync --locked --all-extras --dev"
            -   name: "Lint check"
                run: "uv run ruff check"
            -   name: "Unit tests"
                run: "uv run pytest"
            -   name: "Build"
                run: "uv build"
